:root {
    --app-color-pr: #f46c3f;
    --app-color-gbg: #efefef;
    --app-color-bg: #ffffff;
    --app-txt-color-pr: #3f3d3e;
    --app-txt-color-sec: #5d5d5d;
}

/*=== Global CSS ===*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    background-color: var(--app-color-bg);
    font-family: 'Poppins', sans-serif;
}

a, button {
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
}

ul, li {
    list-style: none;
}



/*=== Own Framework CSS ===*/
.flx {
    display: flex;
}
.flx-center {
    justify-content: center;
    align-items: center;
}
.flx-col {
    flex-direction: column;
}


.btn-nav,
.btn-theme {

    &:hover {
        box-shadow: 0 .1rem .5rem 0 rgba(244, 108, 63, 1);
    }
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0 .35rem;
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: .6rem 1.8rem;
    background-color: var(--app-color-pr);
    box-shadow: 0 .05rem .5rem 0 rgba(244, 108, 63, 0.3);
    color: white !important;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}


.cards_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.page_404 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: center;
    min-height: calc(100vh - 250px);

    h1 {
        color: var(--app-color-pr);
    }

    img {
        max-width: 400px;
        height: auto;
    }

    p {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        color: var(--app-txt-color-sec);

        .goback {
            text-decoration: underline;
            color: var(--app-color-pr);
            cursor: pointer;
        }
    }
}


.ride_detail {
    display: flex;
    justify-content: flex-start;
    gap: 0 3rem;
    margin: 0 auto;
    padding: 1.5rem 0 0 0;
    border-top: 2px solid #cdcccb;
}


/*=== RESPONSIVE CSS ===*/
// max 992px
@media (max-width: 991.9px) {
    .ride_detail {
        flex-direction: column;
        gap: 1.5rem 0;
    }
}


// max 800px
@media (max-width: 799.9px) {
    .cards_container{
        grid-template-columns: repeat(2, 1fr);
    }

    ul.mobile_nav {
        padding-left: 2rem;
    }
}

// max 500px
@media (max-width: 499.9px) {
    .user_li {
        font-size: 1rem;
        word-wrap: break-word;
        display: inline-flex;
        flex-wrap: wrap;
        color: white;
    }

    ul.mobile_nav {
        padding-left: 1rem;
    }


    .cards_container{
        grid-template-columns: repeat(1, 1fr);
    }

    .page_404 {
        img {
            max-width: 100%;
        }
        h1 {
            font-size: 1.5rem;
        }
    }
}